a:link {
  color: #1E4A77;
  background-color: transparent;
}

a:visited {
         color: #7A3E8C;
         background-color: transparent;
         text-decoration: none;
}
a:active {
         color: #1E4A77;
         background-color: transparent;
  
}

body {
  font-size: 1.5em;
  font-family: "Arial", sans-serif;
  line-height: 2;
  color: #000000;
  background-color: #F4E1C1;
  margin: 0;                   
  padding: 0;  
}

.navbar {
  width: 100%;  
  max-width: 100%;  
  margin: 0 auto;  
  padding: 20px 30px;
  background-color: #D1B39A;
}

.navbar .navbar-title img {
  vertical-align: top;  
  margin-top: 0;        
}

.navbar-brand {
    padding: 0px !important;  
    height: 75px !important; 
}

.navbar-nav>li>a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    line-height: 45px !important; 
}

.navbar-nav > li > a:link,
.navbar-nav > li > a:visited {
  color: #1F1F1F; 
  background-color: transparent;
  text-decoration: none; 
}

.navbar-nav > li > a:active {
  color: #1F1F1F; 
  background-color: transparent;
}